:root{

--primary:#4F46E5;
--secondary:#111827;

--sidebar:#111827;

--background:#F8FAFC;

--white:#ffffff;

--text:#374151;

--border:#E5E7EB;

--success:#10B981;

--danger:#EF4444;

--warning:#F59E0B;

}